body {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: #000000 !important;
}

.logo-circles {
    position: relative;

    & > svg {
        position: absolute;
        transition: filter 2s;
        top: -149px;
        left: -178px;
    }

    .name-row {
        display: flex;
        justify-content: center;
        // margin-top: 20px;
    }

    .Z-name {
        // margin: -1px 0 0 -22px;
        margin-top: -3px;
        // color: rgba(87, 212, 255, 80%);
    }
    .Z-name,
    .name-after {
        font-size: 75px;
        // line-height: 0;
        color: #00eeee;
        // color: #4a8cd7;
        user-select: none;
    }
    .name-after {
        margin-left: 10px;
        z-index: 10;
        opacity: 1;
        font-size: 70px;
    }

    .after-action {
        display: flex;
        align-items: center;
    }

    code {
        margin: 0 20px;
        opacity: 0.35;
    }

    .github-button {
        color: #00eeee;
        font-size: 60px;
        border: 1px solid rgba(8, 232, 248, 0.5);
        padding: 6px 11px;
        padding-bottom: 3px;
        border-radius: 6px;
        display: flex;
        align-items: center;

        &:hover {
            background: rgba(8, 232, 248, 0.07);
        }
    }

    @media (max-width: 670px) {
        margin-left: 20;
        .after-action {
            margin-left: -280px;
            margin-top: 100px;
            code {
                display: none;
            }
        }
    }

    .github-icon {
        $size: 35px;
        width: $size;
        height: $size;

        display: inline;
        // margin-top: -12px;
        margin-right: 12px;
    }
}
